mixin icon(iconName, iconClass)
  svg(class=`${iconClass}`)
    use(xlink:href=`./assets/images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
  img(src=`./assets/images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin social(items,classColor)
  .social
    ul.social__list
      each item in items
        li.social__item
          a(class=`social__link social__link-${item}` href='#')
            +icon(`${item}`,`social__icon ${classColor}`)
            
mixin menu(items,className)
  nav(class=`${className}`)
    ul(class=`${className}__list`)
      each item in items
        li(class=`${className}__item`)
          a(class=`${className}__link` href=`${item.href}`)=item.name

mixin avatar(className, title, subtitle, svgExist)
  .avatar
    if (svgExist)
      .avatar__stars
        svg.avatar__svg
          use(xlink:href="./assets/images/sprite_stars.svg#stars1")
    .avatar__pic
      img.avatar__img(src='./assets/images/photo.png', alt="Photo")
    .avatar__desc
      h2(class=`avatar__name ${className}`)=title
      p.avatar__info= subtitle

mixin triangles(classLeftColor,classRightColor)
  svg(class=`triangle triangle_fill_${classLeftColor}` viewbox="0 0 900 150", preserveAspectRatio="none")
    polygon(points="0,0 0,150 900,150")
  svg(class=`triangle triangle_fill_${classRightColor}` viewbox="0 0 900 150", preserveAspectRatio="none")
    polygon(points="0,150 900,150 900,0")
